[submodule "firmware/ezlopi/sensors/bme280"]
	path = firmware/ezlopi/sensors/bme280
	url = git@github.com:BoschSensortec/BME280_driver.git
[submodule "firmware/ezlopi/library/bme280"]
	path = firmware/ezlopi/library/bme280
	url = git@github.com:BoschSensortec/BME280_driver.git
