**/.bin
deprecated
deprecated/
deprecated/*
key/
key/*
*.old
*.bin
firmware/**
firmware/v*/**
firmware/releaseNote.txt
firmware/ezlopi/firmware/**
**/esptool
**/espsecure
firmware/ezlopi-old
**/deprecated
firmware/ezlopi_v2/build/*
firmware/ezlopi_v2/v*/*
firmware/ezlopi/build/*
firmware/ezlopi/v*/*
firmware/GPIO_CFG/v*/*
**/*.zip
**/*.bin
build*/
boards/*
bin/*
dlls/*
docs/doxygen/*
build-esp_gpio_config-Desktop-Debug/*
firmware/GPIO_CFG/build/*
firmware/GPIO_CFG/cmake-build-debug/*
firmware/bootloader/subproject/*
**/build/
**/cmake-build-debug/
**/.vscode
**/.idea


dependencies.lock
sdkconfig.old
build.sh
burn_id.sh
erase_flash.sh
flash.sh
test.sh
build_ezlopi.sh



# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
config.env
kconfigs_projbuild.in
bootloader-prefix/**
config/**
kconfigs.in

#specefic files 
/ezlopi-core/ezlopi-core-ota/ca_mios.h
# Python Tools for Visual Studio (PTVS)
**/__pycache__/
**/*.pyc

# VS Code files for those working on multiple tools
**/.vscode/*
**/*.code-workspace

# Local History for Visual Studio Code
**/.history/

**/shell_script/

dependencies.lock
.editorconfig
sdkconfig.old
sdkconfig
sdkconfig.ota.esp32.4mb 
