
menu "EzloPi User Config"
    
    config EZPI_UTIL_ENABLE_TRACE
    bool "Enable trace component for logging"
    default y
    help
        ezlopi-util-trace component is enabled to log the outputs to the serial monitor
    
    config EZPI_CORE_ENABLE_ETH
    bool "Enable ethernet component"
    depends on ETH_USE_SPI_ETHERNET
    default n
    help 
        ezlopi-core-ethernet component is enabled
    
    config EZPI_SERV_ENABLE_MESHBOTS
    bool "Enable meshbot service"
    default y
    help
        Enable meshbot services for scenes
    
    config EZLOPI_BLE_ENALBE_PASSKEY
    bool "Enable BLE pass key"
    default n
    help
        Enable BLE pass key
    
    config EZLOPI_BLE_ENALBE_PAIRING
    bool "Enable BLE pairing"
    default y
    help
        Enable BLE pairing

endmenu


